[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-core = "*"
requests = "*"
python-dotenv = "*"
chromadb = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"
pydantic-settings = "*"
fpdf = "*"
markdown = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
